body {
    background-image: url(/order-summary-component-main/images/pattern-background-desktop.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.attribution {
    font-size: 11px; text-align: center;
    color: hsl(228, 45%, 44%);
}