:root {
    --neutro-azul: hsl(225, 100%, 98%);
    --cinza-azul: hsl(224, 23%, 55%);
    --preto-azul: hsl(223, 47%, 23%);
    --brilho-azul: hsl(245, 75%, 52%);
    --paleo-azul:  hsl(225, 100%, 94%);
}