body {
    font-weight: 400;
    background-image: url(/images/pattern-background-desktop.svg);
    background-color: var(--paleo-azul);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
}

.card {
    display: flex;
    border-radius: 12px; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 600px;
    width: 450px;
    background-color: #fff;
}

.container .card .container-principal .logo {
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-top: -115px;
    
}

.container .card .container-principal .texto-principal {
    font-size: 25px;
    color: var(--preto-azul);
    padding: 15px;
    margin: 10px;
}

.container .card .container-principal .texto-secundario {
    font-size: 16px;
    color: var(--cinza-azul);
    padding: 15px;
    margin: 15px;
}

.container-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutro-azul);
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
}

.container-info .imagem-logo {
    padding-right: 10px;
}

.container-info .container-titulos .titulo-plano {
    padding: 5px;
}

.container-info .container-titulos .preco {
    color: var(--cinza-azul);
}

.container-info  .btn-link {
    margin-left: 85px;
}

.botoes {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.botoes .botao .botao-2 {
    border: none;
    background-color: none;
    cursor: pointer;
}

.attribution {
    font-size: 15px; text-align: center;
    color: hsl(228, 45%, 44%);
}